* {
  margin:0;
  padding:0;
  text-decoration:none;
  color:black;
  font-family:sans-serif;
}
body {background:#F5F5F5;}
h1,h2 {color:#555;}
a {color:#DDAA88}

.container {
  margin:0 auto;
  width:900px;
}
.header {
  background:#E9E9E9;
  border-bottom:1px solid #E0E0E0;
  margin-bottom:20px;
  padding-top:10px;
  height: 190px;  
}
.header h1 {
  color:#CC3030;
  font-size:40px;
  margin:10px 0;
}
.header h2 {
  color:#FF9090;
  font-size:24px;
}
.content {
  display:inline-block;
  width:650px;
}
.menu li {
  border-right:1px solid #DDD;
  display:inline-block;
  padding:10px;
  list-style:none;
}
.menu li:last-child {border:none;}
.menu a {color:#555;}
.current-menu-item a {color:#E44;}

.widgets {
  display:inline-block;
  width:200px;
  vertical-align:top;
}
.widgets li {list-style:none;}
.widgets aside {
  background:#FFF;
  border-radius:3px;
  box-shadow:0 2px 6px -2px #999;
  margin:0 0 15px;
  padding:15px;
}
.widgets aside h1 {
  border-bottom: 1px dashed #CCC;
  color:#555;
  margin-bottom:10px;
  font-size:18px;
}

.post {
  background:#FFF;
  border-radius:3px;
  box-shadow:0 2px 6px -2px #999;
  margin:0 10px 15px;
  padding:20px;
}
.post h1 {margin-bottom: 15px;}
.comment-respond {
  border-top:1px solid #DDD;
  font-size:14px;
  margin:20px 5px;
  padding-top:10px;
}
footer {
  text-align:center;
  font-size:12px;
  background:#E9E9E9;
  border-top:1px solid #E0E0E0;
  margin-top:20px;
  padding:10px 0;
}

.header {
    background: #377bb5;
}

#navigation-principale li {
    position: relative;
    top: 130px;
    left: 220px;
    display: inline-block;
    padding: 10px;
    font-weight: 500;	
}
#navigation-principale li a {
    color: #fff;
}
.post {
    background-color: #F5F5F5;
}
.site-branding {
    float: left;
    line-height: 1;
}
.twp-site-branding {
    position: absolute;
    padding: 15px;
    top: 0;
    height: 140px;
    background-position: bottom;
    background-size: cover;
    display: table;
    max-width: 340px;
}

.twp-site-branding:before {
    content: '';
    position: absolute;
    left: 0;
    top: 20%;
    bottom: 0;
    overflow: visible;
    width: 100%;
    height: 140px;
    background: #ffbb3f;
    z-index: 1;
    -webkit-transform: skewY(-7deg);
    -moz-transform: skewY(-7deg);
    -ms-transform: skewY(-7deg);
    -o-transform: skewY(-7deg);
    transform: skewY(-7deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: initial;
}

.branding-center {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

.site-branding .site-title {
    display: block;
    font-size: 28px;
    font-weight: 700;
}

.site-branding .site-description {
    margin-bottom: 0;
}

.site-branding a[rel="home"] {
    color: inherit;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}
.alt-bgcolor {
    background: #ffbb3f;
    color: #fff;
}

svg .alt-bgcolor {
    fill: #ffbb3f;
}
